In [22]:
import pandas as pd
import numpy as np
import os

from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [2]:
df = pd.read_csv('NonPromoterSequence.txt', sep = '>', )
df.dropna(subset=['Unnamed: 0'], how='all', inplace=True)
df.reset_index(inplace = True)
df.drop(['EP 1 (+) mt:CoI_1; range -400 to -100.', 'index'], axis = 1, inplace=True)
df.rename(columns={'Unnamed: 0': "sequence"}, inplace = True)
df['label'] = 0
display(df)
display(df.shape)

                                                sequence  label
0      TAATTACATTATTTTTTTATTTACGAATTTGTTATTCCGCTTTTAT...      0
1      ATTTTTACAAGAACAAGACATTTAACTTTAACTTTATCTTTAGCTT...      0
2      AGAGATAGGTGGGTCTGTAACACTCGAATCAAAAACAATATTAAGA...      0
3      TATGTATATAGAGATAGGCGTTGCCAATAACTTTTGCGTTTTTTGC...      0
4      AGAAATAATAGCTAGAGCAAAAAACAGCTTAGAACGGCTGATGCTC...      0
...                                                  ...    ...
11295  TGGTAAAAAATTGTACACCTAACTAGTGCCTTCATGTATACCACCA...      0
11296  AGTGCAACTGGAGCCGTGCCGTGACCCACAGAGATCGCCCACTCGA...      0
11297  GCATGGATTTCATATTATCTTAATCGACTTGCTTTTATAAAATAGG...      0
11298  GTGACCAGGTTTTGCTCTAATGCGAAGTACGGATTGGGTAGAGATA...      0
11299  TCATATTGAAAATTGATAAGATTGATATTAACGTAGCAAAGAAAGC...      0

[11300 rows x 2 columns]

(11300, 2)

In [3]:
df2 = pd.read_csv('PromoterSequence.txt', sep = '>', )
df2.dropna(subset=['Unnamed: 0'], how='all', inplace=True)
df2.reset_index(inplace = True)
df2.drop(['EP 1 (+) mt:CoI_1; range -100 to 200.', 'index'], axis = 1, inplace=True)
df2.rename(columns={'Unnamed: 0': "sequence"}, inplace = True)
df2['label'] = 1

display(df2)
display(df2.shape)

                                                sequence  label
0      TTAATTTGTCCTTATTTGATTAAGAAGAATAAATCTTATATATAGA...      1
1      ATAGCTCAAATTGCTTTATTAGTATTAGAATCAGCTGTAGCTATAA...      1
2      AAGCTTCCCTTTAATGTGCTCCTTGTGAATACAGCATTACAATGCC...      1
3      TATGTAGAATCTGTACAAGTATCTGTGTTTGGACAATGGCATGTGT...      1
4      ACATATTACTGCATACAGGTCTCAAATTATAAAATGACACTCGTGG...      1
...                                                  ...    ...
11295  CGACAAAGTTTGATCCATGTGCATTCTTGGCGCCTTATCGATAGCT...      1
11296  CATATCTACATCTCGCTTGCTCCTTCCCTTTCGCTGCGTGTGTGTG...      1
11297  ATACCGCGGAAGCGCAAAAGTACCAGAATTTCCCTGGTATCGCGCT...      1
11298  ATTATTCCGAATTCTTTTATCAGATTTAAATATGGGAAACACTTTA...      1
11299  AATTCATTTATACCTGCATTTGTAACTGTACTAAATCTTCAACCAA...      1

[11300 rows x 2 columns]

(11300, 2)

In [4]:
df = pd.concat([df, df2], axis = 0 )
df.shape

(22600, 2)

In [9]:
for seq in df['sequence']:
    if 'N' in seq:
        display(df.loc[df['sequence'] == seq])

                                               sequence  label
1822  NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNGAATTC...      0

In [10]:
df.drop([1822], inplace = True)

In [11]:
for seq in df['sequence']:
    if 'N' in seq:
        display(df.loc[df['sequence'] == seq])

In [17]:
X = df['sequence'].array
X

<PandasArray>
['TAATTACATTATTTTTTTATTTACGAATTTGTTATTCCGCTTTTATAATAAATTATTTTGAAAATAATTGAATCATAAAGATAAATATAAATAGTATTAATTATAATATATATATAATTATAACTTTTTTTTCAATTTTTGGATTATTTTTAATTTCTTTATTTTATTTTATATTTTAAGGCTTTAAGTTAATAAAACTAATAACCTTCAAAGCTATAAATAAAGAAATTTCTTTAAGCCTTAGTAAAACTTACTCCTTCAAAATTGCAGTTTGATATCATTATTGACTATAAGACCTAAT',
 'ATTTTTACAAGAACAAGACATTTAACTTTAACTTTATCTTTAGCTTTACCTTTATGATTATGTTTTATATTATATGGATGAATTAATCATACACAACATATATTTGCTCATTTAGTTCCTCAAGGAACACCCGCTATTCTTATACCTTTTATAGTATGTATTGAAACTATTAGAAATATTATTCGACCTGGAACATTAGCTGTTCGATTAACTGCTAATATAATTGCTGGACATTTATTATTAACTCTTTTAGGAAATACAGGATCTTCTATATCTTATATATTAATAACATTTTTATTAA',
 'AGAGATAGGTGGGTCTGTAACACTCGAATCAAAAACAATATTAAGATAAAAATAGCGCGCACGGCAAGTGTTGCATGGAAGAAGATGAGATCAATTTAGATTCTTTGGAGATTGCTCTTTTTAACGCGACTACCATTTCATTGATATTATTTTACAAAAATGTTCCTGGAACATTTTAGACTCCATCGGTGGTGTCTTCTTTCTTTTTTCTTTTAACATTAGCCAATTGATTGGATGTGGAATCAGAACTGAAAACATTTAAACGATATCTACATAAATACTTCCGAGGTTTTTAATGGTA',
 'TATGTATATAGAGATAGGCGTTGCCAATAACTTTTGCGTTTTTTGCTTAAAAATAATATTGTATCGCCGAGGACAAAAATTACCCACTGAGAGACACAAACTACTAGCGTAAAAATATCTATATTAACAGCACTGGCATCGAAAAGTATCTTAACTCACGTACGAGTATATGTATTGTGTGGCCATCTTCGATCTGCCCGCCTTCGCCGACTGTTCGTGATCCGTAGGTACACACAGACATTTAAATCACCAATGCACTTGTTACTGTATTGTATTTATGTTTGTGAACCTACACGTATCT',
 'AGAAATAATAGCTAGAGCAAAAAACAGCTTAGAACGGCTGATGCTCTTCTATTTTTTGTTATGTATTACAGTTACAAATTTGTTGGTCACGACATTTACTCTTTACTGTTTTCTGTTTATATTTTATTAAACTACAAGCGTAACTGTTCCTTTAAGGTATATTTTACAAGGATTTCGTAGTTTGTACTTCCCATAATACAAGTTGTAGATATATCCTTTGGCTCACTAAAAAGTAATCGTGTACACAGTGCTCCAAAAAATTTTCGGAACGCAGCACAATGAGAAAGCGATATAACACGGA',
 'CTTTAAAATTAGGATGGCAATGCCCGACAAGTTCAGTGATTAGCGAAATACGATATCTTTAAATTGTAGCGTATGGGTGAAAACTGCATGAGTTTATCATGTACATAATCCATTCTAAAAACTAAGCATGACCCCAAACCGCTATTAGGAGTTTAAATGAATATATCGACCTTTAGCTTAAGCGAACCAAAATAATAAAAAATCTTATTATTGTGTTTTAACATCTAACAAACATTGAAAAGTTAAAAATGAAAATTCTTGTTATAATTTTTTTTGATTATTTAATGCTAATCGAGCCATT',
 'TTTTTAAATAACTAAGGGGCAGAGTGATCTTGTGATGATGTGGCATAAACATCAATAGTCCAATGAGTAAACTATTTTATCCTAAGTAAATAAGATCTGCTTTGATATAAAAAAGGCACTTCGGCCAAAGTGCACATTTTACAAATCGAAAAAATTTTATAAATTCGAAAACCGGACCACCGACCTTGCGATTTCAAATCGAAATCCTAAAATTCTTAGAATTCGATTACCGGAGCATGCGCGTATAATAAAATCCTTTATAATAATGCAACAGCAGCACTGGTTGCGTAAATGGAATTTT',
 'ATAAATGTAATTAAAATACTAAATTGACTATATACTATATACATATATGCTGATTAATATTCCTTCTCGTAGTGAATTCCTGAATTGTATTTCAGAAAAAGAAGAATTTTCAGTTGCATGTCTTATGTATCAACTGCTGAATTTTCAACAAAAAATAAAAGTTAAATGATTACAGATACAGCATTAGTTCAGTGTTATGACAATAGGTAAATAAAGTACATGTGTATATTTGTACCTATGTATGGGATTCAGATCACCGCAGCGGGAAATAAAATACACCATCGTCCCAAAACTCTTCGAT',
 'AATCCTAATAACAGAAGCAGTCGAACCTTATTTTTTCTATAAAAGCAAGTGGTCAAAATTGCGGTATAAGGGTATATGAGGAGGACAAGTGGTTGAAGATTTTAACGAAAAGTGGTGGATATAGTGAAAACCTTAGAGGAGCCATATGGTCACCATAATGGTAACAAAATGTATGGCTAAATAGGGTTGTTGCTGAGAACTTATTGAAATCGACTAATCTATATACTAAAACGAGACCGACTACATGAGTCCTTGACCACCCGAGCGACAACCACTTCGACCCTATAAGCCCGACAGTAAT',
 'TTTGGATGAGCTTATATAATAATACAATTCATACATTTGAGCACTTCCATGTTGACTTCTTATAAAAATAATTATTATTTGCCTGAAAACGGTTTAGAATATACATATGTTATTTCCGAAAAACAACAAGATCTATTATACATATAATGTGAGTGGTAGTACCATTCAAATACATACATACATATTTATTTTATATACATACGTCTGTACAATTCTCGGATTTCAAGTTGTCATACGACAAGGCTGGTGAAAACCGGGCCAAAGCACAAAGCTTTGTAATGTCTTTTTAAGTAACAACTTT',
 ...
 'TTAATGATTACAATTTTTTAGAAGGAACCAAGGTGTCACATCAGTGGCAATCTTCACTGTGCCTTACATAGAGGGTACTTTGCAGTTCGATGGTCACACTATTCCAAATCCCATTCCTTTCACATGTTTGTGTTTACAATATAATTGTGCAGAGCATTTAGTGGAGAAGACGACGAGGATGAGCGAAGGAAAGCAGCAGGGTCCTGGCGATGGCATCCGATCCATGCGAAGCACCGGAGTCTTCCGGCTGATCAACTTCGAGTTGTACACCAAGCCGGTGCGGTTTCATTTAAACTTTGAT',
 'GAATGGCTATCTTACACAGTAAGCTGTTTCAAAATATTCAACAGTTGTGTATTCCAAAAACATCCCCCAATTAATATTTGATCCTTGGAAACATTACTTACACAGTCAGCTGTTTCAAAATATTCAACAGTTGTGTGTTCCAAAAACATCCCCCAATTAATATTTGATCCTTGGAAACATTACTTTTTAGACAAATAGCATTTTCATTTTCAAATGGATTGTTAAGTAGATTTTTAATGATTACAATTTTTTAGAAGGAACCAAGGTGTCACATCAGTGGCAATCTTCACTGTGCCTTACA',
 'TATTCAAACAATTAGCGTATATATAACATAATGTAAGGAACCTACGTTTTTTGCGTGAGGTATTCAGACCATCCACGACTGGTCACATTGGGGGAGCACCAAAATGTATTTTTGTTTGTTATTCAATTGAGTTGACCTGCTTGAAACGATCCAGAATACAGAAACTATCTCTCGCTCCGGCTATTTTAACAGACTCTGTACCTAGATTGTGTCGCGAGGATCGCATCCCGGGCCATGGCTTCCGAGCCGAGATCCCTAATTCTGCAATTGGACGACGACTGTCTGGCCGAGATTTTCGATC',
 'GAAGAATACCCGCTGCATTGACAGTGTTGAGAAACGGGGTGCAGGGGTGGCCACACCGTTGGCAGCCGCGTAGTGCTGCCATACCACTGATAAGTAGAAAACACGTGTGAGTGCGCATTCTTTTTTGTGGGACAAGCGGCTAGTAATTATTTGCGGACGGAAAATATTGACGAATAGTTGAATTAATCATGACAGACCTGCTAAAGATAGCCGATGCAATCGTCCTGGAGTACTTGCAGTCCAAGGACAAGAACCTAGCCAAGGTTTTCCAGCAGAAGACGAAGGCGGTAAGTTTCAGTGC',
 'CGCTTCGTAGACAGAACAGCTGATGCTCGTCAAATTTTAGCTTCTGCTTGTGCAAAAAGCGCTCTGAGTGCGCTTGTGTGTGAGTGCGTGTGTGAGCATGGGAAAGGGAACGTGGTTATCGATAATAAAGTAAACTGAAAATAAATCAGTCATCCGCTCGGTTGACCAACTGCCCAAGTTAGTGCACCTTCTAGAATTTCTTGCAAGTGCACATTCTTTTGGTTCGCAGTGTTTCTGTTTTGCGCCTTATCTGGGGGGTGTGTCGTCGTCGGGAGCTTCACGTTTGGCTGGTTATCAAAAT',
 'CGACAAAGTTTGATCCATGTGCATTCTTGGCGCCTTATCGATAGCTATGGACAGTGTTGTAAGGTGCACGATAGTAAGGGGGGCAAAATTGTATCGGTCTGCCGATAGTTCCCGGCCGTTAGCCAAGTCCAAATTCGACCGACCGACCAATAGTCTCGCAAAACACAAAACAAAGGCACACCACACTTCGTGCTCTCGCCGAATTCCGCCGCCGTCGCCTGAAACTCACACAAAGTAAGCCCGAAATCAGTGGAAAAGCGCCGAATAGTCGAATTGCAGGTTCAAATGGGATGGACGGCGA',
 'CATATCTACATCTCGCTTGCTCCTTCCCTTTCGCTGCGTGTGTGTGTGTGCGTGACTGTGTGTGTGAGAGGCGGGGGGATATTTCGATTCAGTTATTTGTGCAATTTCGCTCAGTCAAGTTGTGTGTTCCTTGTGCAGTGTGTGCGCCTGGCATCCATCAATCAGCCGACCGAGTTTGACGAAAGGAGATAAGATACCCAGAAATTACCCAACAAATTTACAAGATTCCTCCAGCCTTCCCCCGCCTGGCAACCGATATCAGCGGATTAAGTGCATAATCCTTCAACAGCAAAACGCCGCC',
 'ATACCGCGGAAGCGCAAAAGTACCAGAATTTCCCTGGTATCGCGCTCTCTCTCTCCCGTTGAGCGCAAACACCCACCCCGAGCGCCGCCTGCACCGTTGTTCATCAGTGTATCTGCTTCGCCCTGCTTGGGCTACTCATTCGGCGAAAATTAATGGTGGTGTTCGGTTCTACGTCGCGCAAGGCACAGTCTCTAGAGTCTCGCAGAGCTAAGAATACATCTCAGAAAATCGGCAACCAATATCCCAAGTTCAGCCAAGTTTGCGGTGTGTAGGCAAGCCATCGAAAAGTAACGACCGAAAT',
 'ATTATTCCGAATTCTTTTATCAGATTTAAATATGGGAAACACTTTAATGTATTCAGTATTCAAAAATGCATCGGTATTTTAAGAAGTCCCCGCCACGGCCACACTCCTGGCGCGCAGTGAAATTCGCGCAATAATACGAAATGAAATCATGTCCAGCGCACGCAGCCATGTCAGCATGCAGAACAAGTACGACCGCGTGGTCCTGCTGGTGGACATGGACTGCTTCTTTTGCCAGGTGGAGGAGAAGCAGCATCCGGAATACCGCAACCGCCCGCTGGCCGTCGTCCAGTACAATCCCTGG',
 'AATTCATTTATACCTGCATTTGTAACTGTACTAAATCTTCAACCAACCGAGTTTCCTTTAAACTTTGCTTTAAAACCTAAGCAGTATTTGTAACCTAGTTATACGTTGGTTTCATCTACCCTTTTATTTGCCCACTTCCAGCACACTTTTATGACAAAAACAACAAAATCTAGTGATATTTTTACTTCTTTCATTGAATCTGAACAATAAAGCATAAATACATTATAATGGCCCTACTATTTCCCGATGAGCTGAAAATTTATTCACCTGACAGCATTAAAATACGGTTGCATTGAAGCCG']
Length: 22598, dtype: object

In [18]:
def encode_seq(s):
    Encode = {'A':[1,0,0,0],'T':[0,1,0,0],'C':[0,0,1,0],'G':[0,0,0,1]}
    return np.array([Encode[x] for x in s])

encoded_list = []
for i in X:
    encoded_list.append(encode_seq(i))

encoded_list

In [23]:
X = encoded_list
y = df['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, stratify = y)