In [162]:
import pandas as pd
import numpy as np
import os

from keras import utils
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Conv1D, MaxPooling1D, MaxPooling2D, Conv2D
from keras import regularizers

In [2]:
df = pd.read_csv('NonPromoterSequence.txt', sep = '>', )
df.dropna(subset=['Unnamed: 0'], how='all', inplace=True)
df.reset_index(inplace = True)
df.drop(['EP 1 (+) mt:CoI_1; range -400 to -100.', 'index'], axis = 1, inplace=True)
df.rename(columns={'Unnamed: 0': "sequence"}, inplace = True)
df['label'] = 0
display(df)
display(df.shape)

                                                sequence  label
0      TAATTACATTATTTTTTTATTTACGAATTTGTTATTCCGCTTTTAT...      0
1      ATTTTTACAAGAACAAGACATTTAACTTTAACTTTATCTTTAGCTT...      0
2      AGAGATAGGTGGGTCTGTAACACTCGAATCAAAAACAATATTAAGA...      0
3      TATGTATATAGAGATAGGCGTTGCCAATAACTTTTGCGTTTTTTGC...      0
4      AGAAATAATAGCTAGAGCAAAAAACAGCTTAGAACGGCTGATGCTC...      0
...                                                  ...    ...
11295  TGGTAAAAAATTGTACACCTAACTAGTGCCTTCATGTATACCACCA...      0
11296  AGTGCAACTGGAGCCGTGCCGTGACCCACAGAGATCGCCCACTCGA...      0
11297  GCATGGATTTCATATTATCTTAATCGACTTGCTTTTATAAAATAGG...      0
11298  GTGACCAGGTTTTGCTCTAATGCGAAGTACGGATTGGGTAGAGATA...      0
11299  TCATATTGAAAATTGATAAGATTGATATTAACGTAGCAAAGAAAGC...      0

[11300 rows x 2 columns]

(11300, 2)

In [3]:
df2 = pd.read_csv('PromoterSequence.txt', sep = '>', )
df2.dropna(subset=['Unnamed: 0'], how='all', inplace=True)
df2.reset_index(inplace = True)
df2.drop(['EP 1 (+) mt:CoI_1; range -100 to 200.', 'index'], axis = 1, inplace=True)
df2.rename(columns={'Unnamed: 0': "sequence"}, inplace = True)
df2['label'] = 1

display(df2)
display(df2.shape)

                                                sequence  label
0      TTAATTTGTCCTTATTTGATTAAGAAGAATAAATCTTATATATAGA...      1
1      ATAGCTCAAATTGCTTTATTAGTATTAGAATCAGCTGTAGCTATAA...      1
2      AAGCTTCCCTTTAATGTGCTCCTTGTGAATACAGCATTACAATGCC...      1
3      TATGTAGAATCTGTACAAGTATCTGTGTTTGGACAATGGCATGTGT...      1
4      ACATATTACTGCATACAGGTCTCAAATTATAAAATGACACTCGTGG...      1
...                                                  ...    ...
11295  CGACAAAGTTTGATCCATGTGCATTCTTGGCGCCTTATCGATAGCT...      1
11296  CATATCTACATCTCGCTTGCTCCTTCCCTTTCGCTGCGTGTGTGTG...      1
11297  ATACCGCGGAAGCGCAAAAGTACCAGAATTTCCCTGGTATCGCGCT...      1
11298  ATTATTCCGAATTCTTTTATCAGATTTAAATATGGGAAACACTTTA...      1
11299  AATTCATTTATACCTGCATTTGTAACTGTACTAAATCTTCAACCAA...      1

[11300 rows x 2 columns]

(11300, 2)

In [4]:
df = pd.concat([df, df2], axis = 0 )
df.shape

(22600, 2)

In [5]:
for seq in df['sequence']:
    if 'N' in seq:
        display(df.loc[df['sequence'] == seq])

                                               sequence  label
1822  NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNGAATTC...      0

In [6]:
df.drop([1822], inplace = True)

In [7]:
for seq in df['sequence']:
    if 'N' in seq:
        display(df.loc[df['sequence'] == seq])

In [16]:
sequence = list(df.loc[:, 'sequence'])
encoded_list = []

In [17]:
def encode_seq(s):
    Encode = {'A':[1,0,0,0],'T':[0,1,0,0],'C':[0,0,1,0],'G':[0,0,0,1]}
    return [Encode[x] for x in s]

for i in sequence:
    x = encode_seq(i)
    encoded_list.append(x)

X = np.array(encoded_list)
X.shape

(22598, 301, 4)

In [25]:
X = X.reshape(X.shape[0],301, 4, 1)
X.shape

(22598, 301, 4, 1)

In [19]:
y = df['label']
y.shape

(22598,)

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, stratify = y)

In [39]:
y_train = utils.to_categorical(y_train)
y_test = utils.to_categorical(y_test)

In [175]:
model = Sequential()

model.add(Conv2D(filters = 27,       
                kernel_size = (3,3),    
                activation = 'relu',    
              input_shape = (301, 4,1)))
model.add(MaxPooling2D(pool_size= (2,2)))
model.add(Dropout(0.2))
model.add(Conv2D(filters = 14,  
                 kernel_size = (2,2),
                activation = 'relu',
                padding = 'same'))
model.add(MaxPooling2D(pool_size= (1,1)))
model.add(Dropout(0.2))


model.add(Conv2D(filters = 7,  
                 kernel_size = (2,2),
                activation = 'relu',
                padding = 'same'))
model.add(MaxPooling2D(pool_size= (1,1)))
model.add(Dropout(0.2))

In [176]:
model.add(Flatten())
model.add(Dense(128, activation = 'relu', kernel_regularizer = regularizers.l2(0.001)))
model.add(Dense(32, activation = 'relu', kernel_regularizer = regularizers.l2(0.001)))
model.add(Dense(2, activation = 'sigmoid'))

In [177]:
model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

In [178]:
history = model.fit(X_train,
                    y_train, 
                    batch_size=256,
                    validation_data=(X_test, y_test),
                    epochs=10)

Epoch 1/10
67/67 [==============================] - 5s 67ms/step - loss: 0.8472 - accuracy: 0.5720 - val_loss: 0.5930 - val_accuracy: 0.7258
Epoch 2/10
67/67 [==============================] - 5s 67ms/step - loss: 0.5549 - accuracy: 0.7523 - val_loss: 0.5145 - val_accuracy: 0.7722
Epoch 3/10
67/67 [==============================] - 5s 70ms/step - loss: 0.5171 - accuracy: 0.7738 - val_loss: 0.4872 - val_accuracy: 0.7823
Epoch 4/10
67/67 [==============================] - 5s 70ms/step - loss: 0.4858 - accuracy: 0.7913 - val_loss: 0.4488 - val_accuracy: 0.8058
Epoch 5/10
67/67 [==============================] - 5s 78ms/step - loss: 0.4625 - accuracy: 0.7996 - val_loss: 0.4332 - val_accuracy: 0.8156
Epoch 6/10
67/67 [==============================] - 5s 72ms/step - loss: 0.4429 - accuracy: 0.8129 - val_loss: 0.4265 - val_accuracy: 0.8212
Epoch 7/10
67/67 [==============================] - 5s 73ms/step - loss: 0.4366 - accuracy: 0.8143 - val_loss: 0.4149 - val_accuracy: 0.8232
Epoch 8/10
67/67 [==============================] - 5s 74ms/step - loss: 0.4253 - accuracy: 0.8228 - val_loss: 0.4136 - val_accuracy: 0.8216
Epoch 9/10
67/67 [==============================] - 5s 76ms/step - loss: 0.4138 - accuracy: 0.8235 - val_loss: 0.4018 - val_accuracy: 0.8349
Epoch 10/10
67/67 [==============================] - 5s 75ms/step - loss: 0.4225 - accuracy: 0.8231 - val_loss: 0.4002 - val_accuracy: 0.8297

In [ ]:
model = Sequential()

model = Sequential()

model.add(Embedding(vocab_size,embedding_dim,input_length=max_length))
model.add(Bidirectional(LSTM(64,return_sequences=True)))
model.add(LSTM(32))
model.add(Dense(2,activation = 'softmax'))

model.add(Conv2D(filters = 27,       
                kernel_size = (3,3),    
                activation = 'relu',    
              input_shape = (301, 4,1)))
model.add(MaxPooling2D(pool_size= (2,2)))
model.add(Dropout(0.2))
model.add(Conv2D(filters = 14,  
                 kernel_size = (2,2),
                activation = 'relu',
                padding = 'same'))
model.add(MaxPooling2D(pool_size= (1,1)))
model.add(Dropout(0.2))


model.add(Conv2D(filters = 7,  
                 kernel_size = (2,2),
                activation = 'relu',
                padding = 'same'))
model.add(MaxPooling2D(pool_size= (1,1)))
model.add(Dropout(0.2))

model.add(Flatten())
model.add(Dense(128, activation = 'relu', kernel_regularizer = regularizers.l2(0.001)))
model.add(Dense(32, activation = 'relu', kernel_regularizer = regularizers.l2(0.001)))
model.add(Dense(2, activation = 'sigmoid'))

In [ ]:
model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

In [ ]:
history = model.fit(X_train,
                    y_train, 
                    batch_size=256,
                    validation_data=(X_test, y_test),
                    epochs=10)